### Finding the Table Names

In [16]:
import pandas as pd
from sqlalchemy import create_engine
# Connect to sqlite db
db_file = r'datasets/gradedata.db'
engine = create_engine(r"sqlite:///{}"
                       .format(db_file))
sql = (
          'Select name from sqlite_master '
          "WHERE type = 'table' "
        )
tablename = pd.read_sql(sql, engine)
tablename

   name
0  test



### A Basic Query

In [19]:
sql = (
          'Select * from test '
        )
qry = pd.read_sql(sql, engine)
qry

   index    Names  Grades
0      0      Bob      76
1      1  Jessica      95
2      2     Mary      77
3      3     John      78
4      4      Mel      99

### Getting Help on read_sql

In [22]:
sales_data_df.read_sql?

Object `sales_data_df.read_sql` not found.