In [1]:
# Enable intellisense in Jupyter 
%config IPCompleter.greedy=True

### Loading the Dataset from CSV

In [2]:
import pandas as pd
Location = "C:/Users/coezema/Desktop/Untitled Folder/datasets/smallgrades.csv"
# To add headers as we load the data...
df = pd.read_csv(Location, names=['Names','Grades'])
# To add headers to a dataframe
df.columns = ['Names','Grades']
df

          Names  Grades
0        Marcia    82.4
1        Kadeem    78.2
2          Nash    79.3
3       Noelani    83.2
4       Noelani    87.4
...         ...     ...
1995       Cody    80.1
1996  Geraldine   100.0
1997   Mercedes    84.9
1998     Lucius    69.1
1999      Linus    79.6

[2000 rows x 2 columns]

### Your Turn

<p> Can you make a dataframe from a file you have uploaded and imported on your own? Let's find out. Go to the following website, which contains U.S. Census data (http://census.ire.org/data/bulkdata.html), and download the CSV datafile for a state. Now, try to import that data into Python.</p>

In [ ]:
import pandas as pd
Location = "C:/Users/coezema/Desktop/Untitled Folder/datasets/MA_avgHH.csv"

# Load headers from csv file first line
df = pd.read_csv(Location,header=0)

#transposed dataframe
df = df.T
df

In [ ]:
df.fillna(0)