### Loading Data from SQL

In [28]:
import pandas as pd
import numpy as np
import glob
all_data = pd.DataFrame()
for f in glob.glob("datasets/data*.xlsx"):
    df = pd.read_excel(f)
    all_data = all_data.append(df,ignore_index=True)
all_data.describe()

   index Names  Grades
0      0   Bob      76
1      2  Mary      77
2      3  John      78