In [1]:
# Enable intellisense in Jupyter 
%config IPCompleter.greedy=True

### Your Turn

<p> Of course, in our dataset we only have one column. Try creating a dataframe and computing summary statistics using the dataset in  Listing 4-6.</p>

In [2]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

In [3]:
GradeList = zip(names,grades, bsdegrees,msdegrees,phddegrees)
df = pd.DataFrame(data=GradeList,
                  columns=['Name','Grade','Bachelors','Masters','Doctorate'])
df

      Name  Grade  Bachelors  Masters  Doctorate
0      Bob     76          1        2          0
1  Jessica     95          1        1          1
2     Mary     77          0        0          0
3     John     78          0        0          0
4      Mel     99          1        0          0

In [5]:
df['Grade'].count() # number of values

5

In [6]:
df['Grade'].mean() # arithmetic average

85.0

In [7]:
df['Grade'].std() # standard deviation

11.067971810589327

In [8]:
df['Grade'].min() # minimum

76

In [9]:
df['Grade'].max() # maximum

99

In [10]:
df['Grade'].quantile(.25)# first quartile

77.0

In [11]:
df['Grade'].quantile(.5) # second quartile

78.0

In [12]:
df['Grade'].quantile(.75)# third quartile

95.0

In [13]:
# mean = dividing the sum by the number of values
df['Grade'].median()

78.0

In [14]:
# computes the variance of the values in a column
df['Grade'].var()

122.5